<<<<<<< Updated upstream
<% content_for :carrusel do %>

      <div class="row">
        <div class="large-12 columns">

          <ul class="example-orbit" data-orbit>
  <li>
    <img src="http://www.i-decoracion.com/Uploads/i-decoracion.com/ImagenesGrandes/decoracion-japonesa-9.jpg" alt="slide 1" />
    <div class="orbit-caption">
      Caption One.
    </div>
  </li>
  <li class="active">
    <img src="http://www.decorablog.com/wp-content/2014/06/Salones-minimalistas18.jpg" alt="slide 2" />
    <div class="orbit-caption">
      Caption Two.
    </div>
  </li>
  <li>
    <img src="http://www.decopasion.com/Imagenes/decoracion-mediterranea.jpg" alt="slide 3" />
    <div class="orbit-caption">
      Caption Three.
    </div>
  </li>
</ul>
      
        </div>




        
        <hr/>
        </div>

<% end %>



=======

        <div class="large-12 columns">
          <img src="/FOTOWG.jpg"/>
        </div>
        
>>>>>>> Stashed changes
