<div class="row">
        <div class="large-4 columns">
          <img src="/baño1.jpg"/>
         
        </div>
        
        <div class="large-4 columns">
          <img src="/baño2.jpg"/>
     
        </div>
        
        <div class="large-4 columns">
          <img src="/baño3.jpg"/>
          <h4>  </h4>
      
        </div>
      
        </div>

        <div class="row">
        <div class="large-4 columns">
          <img src="/baño4.jpg"/>
         
        </div>
        
        <div class="large-4 columns">
          <img src="/baño5.jpg"/>
     
        </div>
        
        <div class="large-4 columns">
          <img src="/baño6.jpg"/>
          <h4>  </h4>
      
        </div>
      
        </div>
