<div class="row">
        <div class="large-4 columns">
          <img src="/cocina1.jpg"/>
         
        </div>
        
        <div class="large-4 columns">
          <img src="/cocina2.jpg"/>
     
        </div>
        
        <div class="large-4 columns">
          <img src="/cocina3.jpg"/>
          <h4>  </h4>
      
        </div>
      
        </div>

        <div class="row">
        <div class="large-4 columns">
          <img src="/cocina4.jpg"/>
         
        </div>
        
        <div class="large-4 columns">
          <img src="/cocina5.jpg"/>
     
        </div>
        
        <div class="large-4 columns">
          <img src="/cocina6.jpg"/>
          <h4>  </h4>
      
        </div>
      
        </div>