<div class="row">
        <div class="large-4 columns">
          <img src="/salon6.jpg"/>
         
        </div>
        
        <div class="large-4 columns">
          <img src="/salon1.jpg"/>
     
        </div>
        
        <div class="large-4 columns">
          <img src="/salon2.jpg"/>
          <h4>  </h4>
      
        </div>
      
        </div>

        <div class="row">
        <div class="large-4 columns">
          <img src="/salon3.jpg"/>
         
        </div>
        
        <div class="large-4 columns">
          <img src="/salon4.jpg"/>
     
        </div>
        
        <div class="large-4 columns">
          <img src="/salon5.jpg"/>
          <h4>  </h4>
      
        </div>
      
        </div>
