<div class="row">
        <div class="large-6 columns">
          <h1><img width="400px" src="/floor-u.png"/></h1>
        </div>
        <div class="large-6 columns">
          <ul class="right button-group">
          <li><a href="http://iconosquare.com/wendyss9" class="button"><img width="25" src="https://lh3.ggpht.com/vFpQP39LB60dli3n-rJnVvTM07dsvIzxrCL5xMiy1V4GV4unC1ifXkUExQ4N-DBCKwI=w300"></a></li> 
          <li><a href="http://www.facebook.com/wendy.stuyck" class="button"><img width="25" src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/2000px-F_icon.svg.png"></a></li>
          <li><a href="http://www.twitter.com/gfernandez15" class="button"><img width="25" src="http://www.h3dwallpapers.com/wp-content/uploads/2014/11/Twitter_logo_png-4.png"></a></li>
          <li><a href="https://plus.google.com/108410067964288375075/posts" class="button"><img width="25" src="http://upload.wikimedia.org/wikipedia/commons/0/04/Google_Plus_logo.png"></a></li>
          </ul>
         </div>
       </div>

 <div class="row">
        <div class="medium-3 large-3 text-center columns">
          <img width="180" src="http://mobleslera.hol.es/wp-content/flagallery/catalogo-2014-salon/salon-ordenado7.jpg">
            <h4><%= link_to 'Salón', bienvenido_salon_path %></h4>


        </div>
        <div class="medium-3 large-3 text-center column">
          <img width="160" src="http://www.i-banos.com/Imagenes/bano-con-distribucion-feng-shui.jpg">
          
            <h4><%= link_to 'Baño', bienvenido_bano_path %></h4>
          
        </div>
        <div class="medium-3 large-3 text-center column">
          <img width="150" src="http://www.elmueble.com/medio/2012/12/12/cocina_con_pared_marron_hacia_la_ventana_1280x1164.jpg">
        

            <h4><%= link_to 'Cocina', bienvenido_cocina_path %></h4>
            
        </div>
        <div class="medium-3 large-3 text-center column">
          <img width="180" src="http://img.decorailumina.com.s3.amazonaws.com/wp-content/uploads/2013/01/decorar-dormitorio-matrimonial-8.jpg">
            <h4>Dormitorio</h4>
            
        </div>
      </div>