<div class="row">
        <div class="large-6 columns">
          <h1><img width="500px" src="/floor-u.png"/></h1>
        </div>
        <div class="large-6 columns">
          <ul class="right button-group">
          <li><a href="http://iconosquare.com/wendyss9" class="button"><img width="25" src="https://lh3.ggpht.com/vFpQP39LB60dli3n-rJnVvTM07dsvIzxrCL5xMiy1V4GV4unC1ifXkUExQ4N-DBCKwI=w300"></a></li> 
          <li><a href="http://www.facebook.com/wendy.stuyck" class="button"><img width="25" src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/2000px-F_icon.svg.png"></a></li>
          <li><a href="http://www.twitter.com/gfernandez15" class="button"><img width="25" src="https://g.twimg.com/Twitter_logo_blue.png"></a></li>
          <li><a href="#" class="button">Link 4</a></li>
          </ul>
         </div>
       </div>